on:
  pull_request:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:

    - name: Deploy preview environment
      uses: okteto/deploy-preview@jlopezbarb/add-source-url
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       OKTETO_TOKEN: ${ secrets.OKTETO_TOKEN}
       OKTETO_URL: https://staging.okteto.dev
      with:
        name: pr-${{ github.event.number }}-jlopezbarb
        scope: personal
        timeout: 15m
